@import "./variables.scss";

*{
 margin: 0px;
 padding: 0px;
 font-family: 'Anek Malayalam', sans-serif;
}

.header_div{
    text-align: center;
}

.outer_div{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    width: 100%;
    transform: translate(-50%,-50%);
    padding: 10px;
}

.inner_div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.button_holder{
    padding-top: 20px;
    text-align: center;
}

.show_button{
    color:white;
    width: 90%;
    font-weight: bold;
    height: 50px;
    border-radius: 7px;
    font-size: 19px;
    transition-duration: 500ms;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ff595e;
}

.show_button:hover{
    background-color: #e63946;
}




