@import "../variables.scss";

.square_outer{
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-right: 10px;
    
}

.square_input{
    background-color:lightgrey;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
}

@keyframes squareAnimation {
    0%{
     padding: 0px;
    }
    50%{
     padding: 10px;
    }
    100%{
     padding: 0px; 
    } 
}

.square_input.green{
    @include validationAnimation(white,lightgreen);
}

.square_input.yellow{
    @include validationAnimation(white,yellow);
}

.square_input.black{
    @include validationAnimation(white,#031c36);
}

.square_input.red{
    @include validationAnimation(white,red);
}


